h1 {
    color: #0078d2;
    font-family: AmericanSansMedium,Calibri,Helvetica,Arial,sans-serif;
    width: 40%;
}

body {
    background-color: #fbf1ea;
    font-family: AmericanSansMedium,Calibri,Helvetica,Arial,sans-serif;
}
#sitedesc {
    color: #0078d2;
}

#tblhdr {
    background-color: #d8f3dc;
}

#quarterhdr {    
    background-color: #ffd166;
}

#quarterhdr:nth-of-type(2n) {
    background-color: #73c3f1;
}

#oddgroup {
    background-color: #ffd166;
}

#evengroup {
    background-color: #73c3f1;
}

#tbldate {
    background-color: #d8f3dc;
}
